Source: rb3
Section: admin
Priority: optional
Build-Depends: debhelper (>= 11)
Build-Depends-Indep: perl (>= 5.10.1), libclass-std-perl, libclass-data-inheritable-perl, libnet-dns-perl, libnet-netmask-perl, libreadonly-perl, libtemplate-perl, libyaml-perl, libmodule-pluggable-perl, libterm-query-perl, libregexp-common-perl, libtemplate-plugin-yaml-perl, libsort-fields-perl, libipc-run-perl, libmath-random-isaac-perl, libnetaddr-ip-perl (>= 4), liblist-moreutils-perl, libgraphviz-perl
Maintainer: Systems Development and Support <sysdev@it.ox.ac.uk>
Uploaders: Dominic Hargreaves <dominic.hargreaves@it.ox.ac.uk>, Michael Howe <michael.howe@it.ox.ac.uk>, Dameon Wagner <dameon.wagner@it.ox.ac.uk>, Dave Stewart <dave.stewart@it.ox.ac.uk>
Standards-Version: 4.1.3
Homepage: https://downloads.oucs.ox.ac.uk/free_software/

Package: rb3
Architecture: all
Depends: perl (>= 5.10.1), ${perl:Depends}, ${misc:Depends}, libclass-std-perl, libclass-data-inheritable-perl, libnet-dns-perl, libnet-netmask-perl, libreadonly-perl, libtemplate-perl, libyaml-perl, libmodule-pluggable-perl, libterm-query-perl, libregexp-common-perl, libtemplate-plugin-yaml-perl, ssh-client, libsort-fields-perl, libipc-run-perl, libmath-random-isaac-perl, libnetaddr-ip-perl (>= 4), liblist-moreutils-perl, libgraphviz-perl
Recommends: sysdev-sysadmin-utils
Suggests: xdot
Description: configuration management tools
 rb3 is a configuration repository builder. It uses a simple combination of
 YAML data files and Template Toolkit templates to generate configuration
 files for hosts. It is usually used in conjunction with a revision control
 system (example: git), and a mechanism to deploy the generated
 configuration files (example: configtool).
