Source: rb3
Section: admin
Priority: optional
Build-Depends: debhelper (>= 11)
Build-Depends-Indep: perl (>= 5.10.1), libclass-std-perl, libclass-data-inheritable-perl, libnet-dns-perl, libnet-netmask-perl, libreadonly-perl, libtemplate-perl, libyaml-perl, libmodule-pluggable-perl, libterm-query-perl, libregexp-common-perl, libtemplate-plugin-yaml-perl, libsort-fields-perl, libipc-run-perl, libmath-random-isaac-perl, libnetaddr-ip-perl (>= 4), liblist-moreutils-perl, libgraphviz-perl
Maintainer: Systems Development and Support <sysdev@it.ox.ac.uk>
Uploaders: Dominic Hargreaves <dominic.hargreaves@it.ox.ac.uk>, Michael Howe <michael.howe@it.ox.ac.uk>, Dameon Wagner <dameon.wagner@it.ox.ac.uk>, Dave Stewart <dave.stewart@it.ox.ac.uk>
Standards-Version: 3.7.2
Homepage: https://downloads.oucs.ox.ac.uk/free_software/
XSBC-Origin-Hint-Subversion: $HeadURL: https://svn.oucs.ox.ac.uk/sysdev/src/packages/r/rb3/tags/1.42/debian/control $

Package: rb3
Architecture: all
Depends: perl (>= 5.10.1), ${perl:Depends}, ${misc:Depends}, libclass-std-perl, libclass-data-inheritable-perl, libnet-dns-perl, libnet-netmask-perl, libreadonly-perl, libtemplate-perl, libyaml-perl, libmodule-pluggable-perl, libterm-query-perl, libregexp-common-perl, libtemplate-plugin-yaml-perl, ssh-client, libsort-fields-perl, libipc-run-perl, libmath-random-isaac-perl, libnetaddr-ip-perl (>= 4), liblist-moreutils-perl, libgraphviz-perl
Recommends: sysdev-sysadmin-utils
Suggests: xdot
Description: configuration management tools
 Libraries and RB3 command-line tool for generating and managing configuration
 repositories.
